<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <!-- Widget: user widget style 1 -->
                <div class="box box-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-light-blue-active">
                        <h3 class="widget-user-username">{{ @me->username }}</h3>
                        <h5 class="widget-user-desc">{{ @me->type==1?'Admin':'Seller' }}</h5>
                    </div>
                    <div class="widget-user-image">
                        <img class="img-circle" src="/images/avatar5.png" alt="User Avatar">
                    </div>

                    <div class="box-footer">
                        <div class="row">
                            <!-- /.col -->
                            <!-- /.col -->
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="box-footer no-padding">
                        <ul class="nav nav-stacked">
                            <li>
                                <a href="#">Credit
                                    <span class="pull-right badge bg-blue">Rp {{ @me->saldo }}</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Server Active
                                    <span class="pull-right badge bg-green">5</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Server Ready
                                    <span class="pull-right badge bg-yellow">5</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Server Full
                                    <span class="pull-right badge bg-red">0</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.widget-user -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row-->
    </div>
    <!-- /.col -->

    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-body text-center">
                        <label class="label label-success">Fast Data Transfer</label>
                        <label class="label label-warning">High Speed Servers</label>
                        <label class="label label-info">Hide Your IP</label>
                        <label class="label label-primary">Premium SSH Server</label>
                        <label class="label label-warning">Worldwide Servers</label>
                        <label class="label label-success">Internet Privacy</label>
                        <label class="label label-info">Exclusive Secure Shell</label>
                        <label class="label label-success">Security Solutions</label>
                        <br>
                        <label class="label label-danger">No DDOS</label>
                        <label class="label label-danger">No Hacking</label>
                        <label class="label label-danger">No Carding</label>
                        <label class="label label-danger">No Spamm</label>
                        <label class="label label-danger">No Torrent</label>
                        <label class="label label-danger">No Fraud</label>
                        <label class="label label-danger">No Repost</label>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row-->

        <div class="row">
            <div class="col-lg-6 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3>Rp. {{ @me->saldo }}</h3>

                        <p>Saldo</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <a href="/home/member/server" class="small-box-footer tips" title="" data-original-title="Total your order on this month">
                        Order SSH <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-6 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>Rules</h3>

                        <p>Peraturan</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-paperclip"></i>
                    </div>
                    <a href="#target3" class="small-box-footer tips showup3" title="" data-original-title="Total capacity server your provider">
                        More info <i class="fa fa-exclamation-circle"></i></a>
                    <div id="target3">
                        <div class="target-inner">
<p><i class="fa fa-arrow-circle-right"></i> Dilarang membuat akun dengan user & password yang sama, contoh : user : <b>dede</b> password : <b>dede</b>, buatlah akun dengan user & password yang berbeda, 
  contoh :<br/>
user : deygantengbangetsumpah6969<br/>
password : aw3n9mb@weks</p>
<p><i class="fa fa-arrow-circle-right"></i> Catat data akun yang sudah di buat untuk jaga-jaga jika ada permasalahan server mendadak. atau bisa download tool buat manage nya di : <span class="yellow"><a href="http://www.tusfiles.net/s7zkd8depdqw" target="_blank">http://www.tusfiles.net/s7zkd8depdqw</a></span></p>
<p><i class="fa fa-arrow-circle-right"></i> Kasih tau ke buyer peraturan grup yang diantaranya dilarang : Share Akun, Share Tunnel VIP, Login lebih dari 2 Bitvise, Login lebih dari 1 perangkat & Login menggunakan Tunnel PLINK</p>
<p><i class="fa fa-arrow-circle-right"></i> Dilarang Untuk Menggunakan akun yang bertujuan untuk : DDoS, Hacking, Carding, Torrent, Spaming, Phising, Cracking dan Program Ilegal lain nya.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- ./col -->

            <div class="col-lg-6 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>Deposit</h3>

                        <p>Deposit</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                    <a href="#target" class="small-box-footer tips showup" title="" data-original-title="Total account list">
                        More info <i class="fa fa-arrow-circle-right"></i>
                       <div id="target"><div class="target-inner">Transfer via BRI : <b>432501009282530</b> a.n <b>Anna Nurhanifah</b></div></div>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-6 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>Password</h3>

                        <p>Ganti Password</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-lock"></i>
                    </div>
                    <a href="#target2" class="small-box-footer tips showup2" title="" data-original-title="Password">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
<div id="target2">
<div class="target-inner">
            <check if="{{ @message }}">
                <div class="alert alert-{{ @message['type'] }}">{{ @message['data'] }}</div>
            </check>
            <div class="panel panel-default box-hidden">
                <div class="panel-heading">
                    <i class="fa fa-gear fa-fw"></i> Ganti Password
                </div>
                <div class="panel-body">
                    <form role="form" action="{{ @URI }}" method="POST">
                        <div class="form-group">
                            <label>Password Lama</label>
                            <input class="form-control" placeholder="Old Password" name="oldpass" type="password" required>
                        </div>
                        <div class="form-group">
                            <label>Password Baru</label>
                            <input class="form-control" placeholder="New Password" name="password" type="password" required>
                        </div>
                        <div class="form-group">
                            <label>Masukkan Ulang Password Baru</label>
                            <input class="form-control" placeholder="Re-enter New Password" name="password_confirmation" type="password" required>
                        </div>
                        <button class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
</div>
</div>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </div>
</div>

<div class="row margin-bottom-30">
      <div class="col-md-3">
         <div class="service">
            <i class="fa fa-check-circle service-icon"></i>
            <div class="desc">
               <h8>Safe Browsing</h8>
               <p>99% Work Prefectly.</p>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="service">
            <i class="fa fa-user service-icon"></i>
            <div class="desc">
               <h8>VPN &amp; SSH Account</h8>
               <p>99% Auto Create.</p>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="service">
            <i class="fa fa-globe service-icon"></i>
            <div class="desc">
               <h8>Worldwide Server</h8>
               <p>99% Premium Servers.</p>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="service">
            <i class="fa fa-history service-icon"></i>
            <div class="desc">
               <h8>30 Days Active</h8>
               <p>99% Strong Protection.</p>
            </div>
         </div>
      </div>
   </div>

</div>
